@font-face {
  font-family: "RobotoLight";
  src: local("RobotoLight"), url(./fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url(./fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"), url(./fonts/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"), url(./fonts/Roboto-Bold.ttf) format("truetype");
}
